@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    /* text-transform: uppercase; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}

.mont-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}

.header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 35%, rgba(221, 221, 221, 1) 100%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header img {
    width: 80px;
    height: 50px;
    transition: 1s;
}

.header img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    padding: 10px;
    font-size: 18px;
    color: #121212;
    font-weight: 500;
    text-transform: uppercase;
    transition: 1s;
}

.header nav a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.header nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #121212; 
    transition: .5s;
}

.header nav a:hover::before {
    width: 100%;
}

.video {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}

.video video {
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(47, 47, 47, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.apresentacao {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    flex-direction: column;

}

.textos {
    margin: 10px 50px 10px 50px;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
}

.textos-2 {
    margin: 10px 50px 10px 50px;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.textos-2 a img {
    margin: 50px 0 -50px 0;
    transition: 1s;
}

.textos-2 a img:hover {
    transform: scale(1.1);
}


.textos h1 {
    margin: 10px 0 10px 0;
    text-align: center;
}

section{
    height: 90vh ;
}


footer {
    color: #dddddd;
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 25px;
}



.contato-1 {
    display: flex;
    text-align: left;
}

.contato-1 label {
    display: flex;
    padding-bottom: 5px;
}

.contato-1 input {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 2px #e1e1e1;
    padding: 7px 0 7px 10px;
    margin: 0 0 20px 0;
    width: 800px;
}

.contato-1 textarea {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 2px #e1e1e1;
    padding: 7px 0 7px 10px;
    margin: 0 0 20px 0;
    width: 800px;
}

.contato-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.contato-2 input[type="checkbox"] {
    margin-right: 5px;
}


.contato-2 div {
    display: flex;
    align-items: first baseline;
}


.contato-3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.contato-3 select {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 280px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: solid 2px #e1e1e1;
}

.contato-3 button {
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    background-color: #121212;
    color: #dddddd;
    box-sizing: border-box;
    border-radius: 5px;
    transition: transform .4s;
}

.contato-3 button:hover {
    cursor: pointer;
    background-color: #272727;
    color: #dddddd;
    transform: scale(1.06);
}

.conteudo-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Permite que os elementos se ajustem responsivamente */
    gap: 20px;
    /* Espaço entre os elementos */
    padding-left: 30px;
    padding-right: 30px;
}

.conteudo-flex h1 {
    width: 100%;
    text-align: center;
    /* Centraliza o texto do título */
    margin-bottom: 20px;
    /* Espaço entre o título e os elementos abaixo */
}

.formulario {
    flex: 1;
    /* Permite que o formulário ocupe um espaço flexível */
    min-width: 300px;
    /* Define uma largura mínima para o formulário */
    padding-top: 15px;
    padding-left: 40px;
}

.mapa {
    flex: 1;
    /* Permite que o mapa ocupe um espaço flexível */
    min-width: 300px;
    /* Define uma largura mínima para o mapa */
}

.mapa p {
    text-align: center;
    font-size: 18.5px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.mapa h3 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mapa h3 a{
    color: #121212;
    transition: .5s;
}
.mapa h3 a:hover{
    transform: scale(1.06);
    color: #314fa1;
}

.mapa iframe {
    width: 100%;
    height: 600px;
    /* Altura fixa para o mapa */
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.services-section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
    max-width: 1280px;
    padding: 50px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 280px; /* Ajuste a largura para que caibam 3 cards em uma linha */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.service-card:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transform: translateY(-10px);
    cursor: pointer;
}


.service-image img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 8px;
}

.service-info h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.service-info p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #777;
}

.service-price p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
